version: "3.9"

services:
  credit_sim_api:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
      - "8080:8080"
    volumes:
      - ./app:/app/app
    restart: always
    